#slider {
	width: 100%;
	height: 24px;
	background-color: black;
	color: white;
	font-size: 1.3em;
	/*want to use Subway Ticker Font*/
	font-family: subwayFont;
	padding-top: 2px;
	clear: both;
	position: fixed;
	top: 0;
	z-index: 2147483647;
}
#tickerMarquee {
	width: calc(100% - 78px);
	float: right;
}

.ticker a, .ticker a:visited {
	color: goldenrod;
	font-size: 0.8em;
	font-family: subwayFont;
}

.ticker {
	display: inline-block;
}

.stockUp {
	display: inline-block;
	color: #093;
	padding-right: 3em;
}

.stockDown {
	display: inline-block;
	color: #ff333a;
	padding-right: 3em;
}

@font-face {
    font-family: subwayFont;
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/subwayFont.ttf');
}